/* ========================== Component Name ========================== */
$component: ".blog-6";

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

#{$component} {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply grid relative w-full mx-auto py-24 px-12 max-w-screen-xl text-wire-dark;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 2rem;
  }

  &__post {
    @apply inline-block;
  }

  &__post-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  &__post-title {
    margin-top: 1rem;
    font-weight: 300;
  }

  &__post-meta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  &__post-date {
    @apply text-wire-gray;
  }

  &__post-description {
    @apply text-wire-gray;
    margin-top: 2rem;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-rows: repeat(1, 1fr);
    }

    &__num-col--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &__num-col--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &__num-col--4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

#{$component}.someClass {
  // some style here
  #{$component}__wrap {
    // some style there
  }
}
